<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dk.youtec.appupdater">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application>

        <activity android:name="dk.youtec.appupdater.UpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
